.card {
    position: relative;
    box-sizing: border-box;
    font-size: 9pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-radius: 2.5mm;
    border-color: black;
    border-width: 2mm;
    padding: 0;
    width: 63.5mm;
    height: 88mm;
    margin: 0.5mm;
    background: linear-gradient(white 0%, white 80%, lightgray 100%);
}

.card>* {
    box-sizing: border-box;
    border-width: 0.25mm;
    border-style: solid;
    border-color: black;
}

.title-bar,
.type-bar {
    font-weight: bold;
    padding: 0.5mm 1.5mm;
    border-radius: 1mm;
    margin: 0 auto;
    width: 58mm;
    display: flex;
    flex-direction: row;
    align-content: baseline;
}

.title-bar {
    margin-top: 1.5mm;
}

.title-bar,
.type-bar,
.text-box {
    background-color: white;
    padding: 0.5mm 1.5mm;
}

.title-bar.legendary {
    border-width: 0;
    background-image: linear-gradient(120deg, grey 40%, darkgrey 60%, lightgray 65%, white 70%, lightgray 75%, darkgray 80%, grey 100%);
}

.title-bar.legendary>.name {
    color: white;
    text-shadow: 1pt 1pt black;
}

.title-bar.legendary>.mana-cost>img {
    filter:
        drop-shadow(0.25pt 0.25pt 0.25pt white) drop-shadow(0.25pt -0.25pt 0.25pt white) drop-shadow(-0.25pt 0.25pt 0.25pt white) drop-shadow(-0.25pt -0.25pt 0.25pt white);
}

.title-bar {
    justify-content: space-between;
}

.type-bar {
    justify-content: first;
}

.type-bar>.color-indicator {
    margin-right: 3mm;
    align-self: center;
}

.type-bar>.color-indicator:before {
    content: "(";
}

.type-bar>.color-indicator:after {
    content: ")";
}

.type-bar img.pip {
    height: 3.2mm;
    vertical-align: sub;
}

.mana-cost {
    align-self: center;
}

.mana-cost>img.pip {
    height: 3.2mm;
    margin: 0;
    vertical-align: sub;
}

div.text-box img.pip {
    height: 3.2mm;
    vertical-align: sub;
}

div.text-box.dense img.pip {
    height: 2.6mm;
    vertical-align: sub;
}

.art-credits {
    border-style: none;
    border-width: 0;
    font-size: 6pt;
    left: 5mm;
    bottom: 0.5mm;
    position: absolute;
}

.art-credits:before {
    content: "artist: ";
    font-size: 6pt;
}

.flavor-text,
.reminder-text {
    font-style: italic;
    font-size: 0.85em;
}

.reminder-text:before {
    font-style: italic;
    content: "(";
}

.reminder-text:after {
    font-style: italic;
    content: ")";
}

.text-box.dense {
    font-size: 7.5pt;
}

.type-bar.dense {
    font-stretch: condensed;
}

.title-bar.dense {
    font-stretch: condensed;
}

.text-box hr {
    width: 90%;
}