:root {
    --card-width: 63.5mm;
    --card-height: 88mm;
    --card-border: 2mm;

    --card-corner-radius: 3mm;
    --pin-line-width: 0.35mm;
    --upper-margin: 1mm;

    --fullwidth-box: 56mm;
    --fullheight-box: 69mm;

    --art-height: 40mm;
    --bar-height: 5mm;
    --bar-endcap: 1mm;

    --bar-height--small: 3mm;

    --content-width: calc(var(--card-width) - 2*var(--card-border));
    --content-height: calc(var(--card-height) - 2*var(--card-border));
    --text-box-height: calc(var(--fullheight-box) - var(--art-height));
    --fullwidth-margin: calc((var(--content-width) - var(--fullwidth-box))/2);
    --halfwidth-box: calc(var(--fullwidth-box)/2);
    --bar-width: calc(var(--fullwidth-box) + 2*var(--bar-endcap));
    --bar-margin: calc((var(--content-width) - var(--bar-width))/2);
}

/* CARD */

div.card {
    position: relative;
    box-sizing: border-box;
    margin: var(--card-border);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-corner-radius);
    border-width: var(--card-border);
    border-style: solid;
    border-color: black;
}

div.card>* {
    position: absolute;
    box-sizing: border-box;
    border-width: var(--pin-line-width);
    border-style: solid;
    border-color: black;
    background-color: white;
}

/* BORDER TEXT */

div.card::before,
div.card::after {
    position: absolute;
    font-family: var(--proxy-mark-font);
    font-weight: bold;
    font-size: var(--proxy-mark-font-size);
    color: white;
    height: var(--card-border);
    width: 100%;
    text-align: center;
}

div.card::after {
    bottom: calc(-1*var(--card-corner-radius) + var(--card-border)/2 - var(--proxy-mark-nudge));
    content: "PROXY";
}

div.card::before {
    top: calc(-1*var(--card-corner-radius) + var(--card-border)/2 + var(--proxy-mark-nudge));
}

/* CARD PARTS */

div.bar {
    left: var(--bar-margin);
    width: var(--bar-width);
    height: var(--bar-height);
    padding: 0 calc(1.5*var(--bar-endcap));
    display: flex;
    flex-direction: row;
    border-top-left-radius: var(--bar-endcap) 50%;
    border-bottom-left-radius: var(--bar-endcap) 50%;
    border-top-right-radius: var(--bar-endcap) 50%;
    border-bottom-right-radius: var(--bar-endcap) 50%;
}

div.bar>span,
div.bar::before,
div.bar::after {
    align-self: center;
    font-weight: bold;
}

div.title.bar>span.name {
    margin-top: var(--title-font-adjustment);
}

div.title.bar>span.cost {
    margin-top: var(--cost-adjustment-title);
}

div.title.bar {
    justify-content: space-between;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
}

div.alt-title.bar {
    top: calc(var(--upper-margin) + var(--bar-height));
    height: var(--bar-height--small);
    font-size: var(--bar-small-font-size);
    font-family: var(--bar-small-font-family);
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    justify-content: center;
    border-top: none;
    z-index: 2;
}

div.alt-title.bar>span.name {
    margin-top: var(--bar-small-font-adjustment);
}

div.title.bar {
    top: var(--upper-margin);
}

div.type-line.bar {
    z-index: 1;
    justify-content: start;
    top: calc(var(--upper-margin) + var(--bar-height) + var(--art-height));
}

div.bar.bottom {
    top: calc(var(--upper-margin) + var(--bar-height) + var(--fullheight-box));
}

div.type-line.bar>span.type {
    font-family: var(--typeline-font-family);
    font-size: var(--typeline-font-size);
    margin-top: var(--typeline-font-adjustment);
}

/* ART */

img.art {
    z-index: 0;
    border-width: 0 var(--pin-line-width);
    left: var(--fullwidth-margin);
    top: calc(var(--bar-height) + var(--upper-margin));
    width: var(--fullwidth-box);
    height: var(--art-height);
    object-fit: cover;
}

div.card.token>img.art {
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    border-top-width: var(--pin-line-width);
}

img.art.full-art {
    width: var(--fullwidth-box);
    height: var(--fullheight-box);
    left: var(--fullwidth-margin);
    top: calc(var(--bar-height) + var(--upper-margin));
    z-index: 1;
}

div.text-box {
    z-index: 0;
    width: var(--fullwidth-box);
    height: var(--text-box-height);
    left: var(--fullwidth-margin);
    top: calc(var(--upper-margin) + 2*var(--bar-height) + var(--art-height));
    border-width: 0 var(--pin-line-width) var(--pin-line-width);
}

img.art.vertical,
div.text-box.vertical {
    top: calc(var(--bar-height) + var(--upper-margin));
    border-width: 0 var(--pin-line-width);
    height: var(--fullheight-box);
    width: var(--halfwidth-box);
}

div.text-box.vertical {
    left: var(--fullwidth-margin);
    right: auto;
}

img.art.vertical {
    border-left-width: 0;
}

img.art.vertical {
    left: calc(var(--fullwidth-margin) + var(--halfwidth-box));
}

span.art-credits {
    bottom: 0;
    right: var(--fullwidth-margin);
    border: 0 none transparent;
    background-color: transparent;
}

span.art-credits::before {
    content: "artist: "
}

/* TEXT CONTENT */

div.text-box {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.text-box>p {
    margin: 1.5mm 3mm 0mm;
}

div.text-box.vertical>p.level-up {
    margin-top: 0.75mm;
    padding: 0.75mm 3mm 0mm;
    margin-bottom: -1.5mm;
}

div.text-box.dense>p {
    margin: 1mm 1mm 0mm;
}

div.text-box.vertical.dense>p.level-up {
    margin-top: 0.5mm;
    padding: 0.5mm 1mm 0mm;
    margin-bottom: -1mm;
}

div.text-box.compact>p {
    margin-top: 0.5mm;
    margin: 0.5mm 1mm 0mm;
}

div.text-box.vertical.compact>p.level-up {
    margin-top: 0.25mm;
    padding: 0.25mm 1mm 0mm;
    margin-bottom: -0.5mm;
}

div.text-box.sparse {
    justify-content: center;
}

div.text-box.sparse>p {
    text-align: center;
}

div.text-box>hr {
    width: 80%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-width: var(--pin-line-width);
    border-top-style: solid;
    border-top-color: black;
    margin: 1.5mm auto 0mm;
}

div.text-box.compact>hr {
    margin: 0.5mm auto 0mm;
    border-top-width: calc(var(--pin-line-width)/2);
}

div.text-box.dense>hr {
    margin: 1mm auto 0mm;
}

div.text-box.vertical>p.saga-chapter {
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(180deg, white 20%, lightgray 50%, white 80%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.text-box.vertical>p.level-up {
    background: linear-gradient(180deg, lightgray 0%, white 50%);
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-top: black solid var(--pin-line-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CORNER BUBBLE */

div.corner-bubble.bar {
    z-index: 2;
    right: var(--bar-margin);
    left: auto;
    top: calc(var(--upper-margin) + 2*var(--bar-height) + var(--fullheight-box) - var(--pin-line-width) - var(--bar-height)/2);
    padding: 0 calc(1.5*var(--bar-endcap));
    width: auto;
    font-weight: bold;
    font-size: var(--corner-bubble-font-size);
    font-family: var(--corner-bubble-font-family);
    font-kerning: normal;
}

div.corner-bubble.shield {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--bar-endcap) 50%;
    border-bottom-right-radius: var(--bar-endcap) 50%;
}

div.corner-bubble.square {
    border-radius: 0;
}

div.corner-bubble.bar>span {
    margin-top: var(--corner-bubble-font-adjustment);
}

/* DFC */

div.card.obverse>div.title.bar,
div.card.reverse>div.title.bar {
    padding-left: 1.3em;
}

div.card.obverse>div.title.bar::before,
div.card.reverse>div.title.bar::before {
    margin-left: -0.5mm;
    position: absolute;
    font-size: 85%;
    left: 1.5mm;
}

div.dual-face-indicator.bar {
    left: 0;
    bottom: 0;
    font-size: var(--bar-small-font-size);
    font-family: var(--bar-small-font-family);
    height: var(--bar-height--small);
    padding-left: var(--bar-height--small);
    border-left-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: auto;
    padding-left: 3mm;
}

div.dual-face-indicator.bar::before {
    position: absolute;
    font-size: 85%;
    left: 0.5mm;
}

img.full-art~div.dual-face-indicator.bar,
div.vertical~div.dual-face-indicator.bar {
    top: calc(var(--upper-margin) + var(--bar-height) + var(--fullheight-box) - var(--pin-line-width) - var(--bar-height--small))
}

div.dual-face-indicator.bar>span {
    margin-top: var(--bar-small-font-adjustment);
}

div.card.obverse.flip>div.title.bar::before,
div.card.reverse.flip>div.title.bar::before,
div.card.obverse.flip>div.dual-face-indicator.bar::before,
div.card.reverse.flip>div.dual-face-indicator.bar::before {
    content: "⧎";
}

div.card.obverse.transform>div.title.bar::before,
div.card.reverse.transform>div.dual-face-indicator.bar::before {
    content: "▲";
}

div.card.reverse.transform>div.title.bar::before,
div.card.obverse.transform>div.dual-face-indicator.bar::before {
    content: "▼";
}

div.card.obverse.modal>div.title.bar::before,
div.card.reverse.modal>div.dual-face-indicator.bar::before {
    content: "◭";
}

div.card.reverse.modal>div.title.bar::before,
div.card.obverse.modal>div.dual-face-indicator.bar::before {
    content: "◮";
}

div.card.obverse.meld>div.title.bar::before,
div.card.obverse.meld>div.dual-face-indicator.bar::before {
    content: "⧓";
}