div.card {
    position: relative;
    box-sizing: border-box;
    font-size: 8pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-radius: 2.5mm;
    border-color: black;
    border-width: 2mm;
    padding: 0;
    width: 63.5mm;
    height: 88mm;
    margin: 0.5mm;
    background: linear-gradient(white 0%, white 80%, lightgray 100%);
}

div.card>* {
    box-sizing: border-box;
    border-width: 0.25mm;
    border-style: solid;
    border-color: black;
}

div.card div.title-bar,
div.card div.type-bar {
    font-weight: bold;
    height: 5mm;
    padding: 0.5mm 1.5mm;
    border-radius: 1mm;
    margin: 0 auto;
    width: 58mm;
    display: flex;
    flex-direction: row;
    align-content: middle;
}

div.card div.title-bar {
    margin-top: 1.5mm;
}

div.card div.title-bar,
div.card div.type-bar,
div.card div.text-box {
    background-color: white;
    padding: 0.5mm 1.5mm;
}

div.card div.text-box {
    font-size: 7.5pt;
}

div.card div.title-bar.legendary {
    border-width: 0;
    background-image: linear-gradient(120deg, grey 40%, darkgrey 60%, lightgray 65%, white 70%, lightgray 75%, darkgray 80%, grey 100%);
}

div.card div.title-bar.legendary span.name {
    color: white;
    text-shadow: 1pt 1pt black;
}


div.card img.pip {
    filter: drop-shadow(0.0pt 0.5pt 0.25pt black);
}

div.card div.title-bar.legendary span.mana-cost img.pip {
    filter:
        drop-shadow(0.25pt 0.25pt 0.25pt white) drop-shadow(0.25pt -0.25pt 0.25pt white) drop-shadow(-0.25pt 0.25pt 0.25pt white) drop-shadow(-0.25pt -0.25pt 0.25pt white);
}

div.card div.title-bar {
    justify-content: space-between;
}

div.card div.type-bar {
    justify-content: first;
}

div.card div.type-bar span.color-indicator {
    margin-right: 3mm;
    align-self: center middle;
}

div.card div.type-bar span.color-indicator:before {
    font-size: 0.85em;
    content: "(";
}

div.card div.type-bar span.color-indicator:after {
    font-size: 0.85em;
    content: ")";
}

div.card div.type-bar span.color-indicator img.pip {
    display: inline;
    height: 2.5mm;
    margin-bottom: -0.3mm;
    vertical-align: baseline;
}

div.card div.title-bar span.mana-cost {
    align-self: center;
}

div.card div.title-bar img.pip {
    height: 3.2mm;
    margin-bottom: -0.65mm;
    vertical-align: baseline;
}

div.card div.title-bar div.text-box img.pip {
    height: 3.0mm;
    margin-bottom: -0.6mm;
    vertical-align: baseline;
}

div.card span.art-credits {
    text-align: center;
    border-style: none;
    border-width: 0;
    width: 100%;
    font-size: 4.5pt;
    bottom: 0.1mm;
    position: absolute;
}

div.card span.art-credits:before {
    content: "artist: ";
}

div.card div.text-box span.reminder-text,
div.card div.text-box p.reminder-text {
    font-style: italic;
    font-size: 0.8em;
}


div.card div.text-box span.reminder-text:before,
div.card div.text-box p.reminder-text:before {
    font-style: italic;
    content: "(";
}

div.card div.text-box span.reminder-text:after,
div.card div.text-box p.reminder-text:after {
    font-style: italic;
    content: ")";
}

div.card div.text-box hr {
    width: 90%;
}

div.card div.corner-bubble {
    font-weight: bold;
    font-size: 10pt;
    height: 5.5mm;
    position: absolute;
    padding: 0.2mm 1.5mm;
}