:root {

    --white-color-1: white;
    --white-color-2: lightyellow;

    --blue-color-1: aqua;
    --blue-color-2: darkblue;

    --black-color-1: indigo;
    --black-color-2: darkslategrey;

    --red-color-1: red;
    --red-color-2: darkred;

    --green-color-1: lightgreen;
    --green-color-2: green;

    --colorless-1: silver;
    --colorless-2: slategrey;

    --gold-1: gold;
    --gold-2: goldenrod;
}

/* COLOR INDICATOR - COLORLESS AND MONO */
div.card::before {
    content: "C"
}

div.card.white::before {
    content: "W";
}

div.card.blue::before {
    content: "U";
}

div.card.black::before {
    content: "B";
}

div.card.red::before {
    content: "R";
}

div.card.green::before {
    content: "G";
}

/* COLOR INDICATOR - ALLIED GUILDS */

div.card.white.blue::before {
    content: "WU";
}

div.card.blue.black::before {
    content: "UB";
}

div.card.black.red::before {
    content: "BR";
}

div.card.red.green::before {
    content: "RG";
}

div.card.green.white::before {
    content: "GW";
}

/* COLOR INDICATOR - OPPOSING GUILDS */

div.card.white.black::before {
    content: "WB";
}

div.card.blue.red::before {
    content: "UR";
}

div.card.black.green::before {
    content: "BG";
}

div.card.red.white::before {
    content: "WR";
}

div.card.green.blue::before {
    content: "GU";
}

/* COLOR INDICATOR - SHARDS */

div.card.white.blue.black::before {
    content: "WUB";
}

div.card.blue.black.red::before {
    content: "UBR";
}

div.card.black.red.green::before {
    content: "BRG";
}

div.card.red.green.white::before {
    content: "RGW";
}

div.card.green.white.blue::before {
    content: "GWU";
}

/* COLOR INDICATOR - CLANS */

div.card.red.white.blue::before {
    content: "RWU";
}

div.card.green.blue.black::before {
    content: "GUB";
}

div.card.white.black.red::before {
    content: "WBR";
}

div.card.red.green.blue::before {
    content: "URG";
}

div.card.green.white.black::before {
    content: "WBG";
}

/* COLOR INDICATOR - SANS AND WUBRG */

div.card.white.blue.black.red::before {
    content: "WUBR";
}

div.card.blue.black.red.green::before {
    content: "UBRG";
}

div.card.black.red.green.white::before {
    content: "WBRG";
}

div.card.red.green.white.blue::before {
    content: "WURG";
}

div.card.green.white.blue.black::before {
    content: "WUBG";
}

div.card.white.blue.black.red.green::before {
    content: "WUBRG";
}

div.card.colorless::before {
    content: "C"
}