:root {
    --card-width: 63.5mm;
    --card-height: 88mm;
    --card-border: 2mm;

    --card-corner-radius: 3mm;
    --pin-line-width: 0.35mm;
    --upper-margin: 1mm;

    --fullwidth-box: 56mm;
    --fullheight-box: 69mm;

    --art-height: 40mm;
    --bar-height: 5mm;
    --bar-endcap: 1mm;

    --flip-indicator-height: 3mm;

    --content-width: calc(var(--card-width) - 2*var(--card-border));
    --content-height: calc(var(--card-height) - 2*var(--card-border));
    --text-box-height: calc(var(--fullheight-box) - var(--art-height));
    --fullwidth-margin: calc((var(--content-width) - var(--fullwidth-box))/2);
    --halfwidth-box: calc(var(--fullwidth-box)/2);
    --bar-width: calc(var(--fullwidth-box) + 2*var(--bar-endcap));
    --bar-margin: calc((var(--content-width) - var(--bar-width))/2);
}