.card>.flipside {
    position: fixed;
    font-size: 6pt;
    color: black;
    background-color: darkgray;
    left: 0;

    z-index: 1;
    position: absolute;
    padding: 0.2mm 0.7mm 0.2mm 2.5mm;
    border-left: 0;
    border-radius: 0 1mm 1mm 0;
}

.card>.flipside:before {
    position: absolute;
    content: "↶";
    left: 0.3mm;
    top: -0.3mm;
}

.card>.flipside img.pip {
    height: 2.0mm;
    margin-bottom: -0.1mm;
    vertical-align: baseline;
}