:root {
    --title-font-family: Amarante;
    --title-font-size: 9.5pt;
    --title-font-adjustment: 0.3mm;

    --typeline-font-family: Amarante;
    --typeline-font-size: 8pt;
    --typeline-font-adjustment: 0mm;

    --rules-font-family: Crimson Text;
    --rules-font-size: 8pt;
    --rules-font-size-small: 7pt;
    --rules-font-size-large: 9pt;

    --flavor-font-family: Crimson Text;
    --flavor-font-size: 8pt;
    --flavor-font-size-small: 7pt;
    --flavor-font-size-large: 9pt;

    --corner-bubble-font-family: Amarante;
    --corner-bubble-font-size: 11pt;
    --corner-bubble-font-adjustment: 0.3mm;

    --flip-indicator-font-family: Amarante;
    --flip-indicator-font-size: 6pt;
    --flip-indicator-font-adjustment: -0.1mm;

    --art-credit-font: Crimson Text;
    --art-credit-font-size: 6pt;

    --proxy-mark-font: Inconsolata;
    --proxy-mark-font-size: 1.5mm;
    --proxy-mark-nudge: 0.2mm;

    --cost-symbol-size-text: 0.65em;
    --cost-symbol-size-title: 0.75em;
    --cost-adjustment-title: -0.75mm;
    --cost-adjustment-text: -0.3mm;
}

div.text-box .ms {
    margin-top: var(--cost-adjustment-text);
}

.ms {
    font-size: var(--cost-symbol-size-text);
}

.ms-2x {
    font-size: calc(2*var(--cost-symbol-size-text));
}

.ms-3x {
    font-size: calc(3*var(--cost-symbol-size-text));
}

.ms-4x {
    font-size: calc(4*var(--cost-symbol-size-text));
}

.ms-5x {
    font-size: calc(5*var(--cost-symbol-size-text));
}

.ms-6x {
    font-size: calc(6*var(--cost-symbol-size-text));
}

div.title.bar>span.cost>i.ms {
    font-size: var(--cost-symbol-size-title);
}

div.title.bar>span.cost>i.ms-2x {
    font-size: calc(2*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-3x {
    font-size: calc(3*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-4x {
    font-size: calc(4*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-5x {
    font-size: calc(5*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-6x {
    font-size: calc(6*var(--cost-symbol-size-title));
}

.ms-2 {
    margin-left: 0 !important;
}

p.rules-text {
    font-family: var(--rules-font-family);
    font-size: var(--rules-font-size);
}

div.text-box.dense>p.rules-text {
    font-size: var(--rules-font-size-small);
}

div.text-box.sparse>p.rules-text {
    font-size: var(--rules-font-size);
}

p.flavor-text {
    font-style: italic;
    font-family: var(--flavor-font-family);
    font-size: var(--flavor-font-size);
}

div.text-box.dense>p.flavor-text {
    font-size: var(--flavor-font-size-small);
}

div.text-box.sparse>p.flavor-text {
    font-size: var(--flavor-font-size);
}

span.reminder {
    font-style: italic;
}