:root {
    --title-font-family: Amarante;
    --title-font-size: 9pt;
    --title-font-adjustment: 0mm;

    --typeline-font-family: Amarante;
    --typeline-font-size: 8pt;
    --typeline-font-adjustment: 0mm;

    --text-font-family: Crimson Text;
    --text-font-size: 8pt;

    --corner-bubble-font-family: Amarante;
    --corner-bubble-font-size: 11pt;
    --corner-bubble-font-adjustment: 0.3mm;

    --bar-small-font-family: Amarante;
    --bar-small-font-size: 6pt;
    --bar-small-font-adjustment: -0.1mm;

    --art-credit-font: Crimson Text;
    --art-credit-font-size: 4.5pt;

    --proxy-mark-font: Inconsolata;
    --proxy-mark-font-size: 1.5mm;
    --proxy-mark-nudge: 0.2mm;

    --cost-symbol-size-text: 0.65em;
    --cost-symbol-size-title: 0.75em;
    --cost-adjustment-title: -0.75mm;
    --cost-adjustment-text: -0.3mm;
}

p.rules-text>span.reminder {
    font-size: 0.9em;
}

p.rules-text:has(span.reminder:only-child) {
    line-height: 95%;
}

div.text-box .ms {
    margin-top: var(--cost-adjustment-text);
}

.ms {
    font-size: var(--cost-symbol-size-text);
}

.ms-2x {
    font-size: calc(2*var(--cost-symbol-size-text));
}

.ms-3x {
    font-size: calc(3*var(--cost-symbol-size-text));
}

.ms-4x {
    font-size: calc(4*var(--cost-symbol-size-text));
}

.ms-5x {
    font-size: calc(5*var(--cost-symbol-size-text));
}

.ms-6x {
    font-size: calc(6*var(--cost-symbol-size-text));
}

div.title.bar>span.cost>i.ms {
    font-size: var(--cost-symbol-size-title);
}

div.title.bar>span.cost>i.ms-2x {
    font-size: calc(2*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-3x {
    font-size: calc(3*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-4x {
    font-size: calc(4*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-5x {
    font-size: calc(5*var(--cost-symbol-size-title));
}

div.title.bar>span.cost>i.ms-6x {
    font-size: calc(6*var(--cost-symbol-size-title));
}

.ms-2 {
    margin-left: 0 !important;
}

p.rules-text,
p.saga-chapter,
p.flavor-text {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
}

p.flavor-text {
    font-style: italic;
}

div.text-box.bigger-text>p.rules-text,
div.text-box.bigger-text>p.saga-chapter,
div.text-box.bigger-text>p.flavor-text {
    font-size: calc(var(--rules-font-size) * 1.1);
}

div.text-box.normal-text>p.rules-text,
div.text-box.normal-text>p.saga-chapter,
div.text-box.normal-text>p.flavor-text {
    font-size: var(--rules-font-size);
}

div.text-box.small-text>p.rules-text,
div.text-box.small-text>p.saga-chapter,
div.text-box.small-text>p.flavor-text {
    font-size: calc(var(--rules-font-size) * 0.9);
}

div.text-box.smaller-text>p.rules-text,
div.text-box.smaller-text>p.saga-chapter,
div.text-box.smaller-text>p.flavor-text {
    font-size: calc(var(--rules-font-size) * 0.8);
}

div.text-box.smallest-text>p.rules-text,
div.text-box.smallest-text>p.saga-chapter,
div.text-box.smallest-text>p.flavor-text {
    font-size: calc(var(--rules-font-size) * 0.7);
}

span.reminder {
    font-style: italic;
}

span.anchor-word {
    font-style: italic;
}

div.dual-face-indicator.bar>span {
    margin-top: var(--bar-small-font-adjustment);
    font-size: var(--bar-small-font-size);
    font-family: var(--bar-small-font-family);
}

div.card.obverse>div.title.bar::before,
div.card.reverse>div.title.bar::before,
div.card.obverse>div.dual-face-indicator.bar::before,
div.card.reverse>div.dual-face-indicator.bar::before {
    font-weight: bold;
    color: white;
    text-shadow:
        0 0 2pt black, 0 0 2pt black, 0 0 2pt black, 0 0 2pt black,
        0 0 2pt black, 0 0 2pt black, 0 0 2pt black, 0 0 2pt black;
}

div.corner-bubble.shield,
div.corner-bubble.square {
    border-color: white;
    color: white;
    background-color: black;
}

.ms.ms-loyalty-up,
.ms.ms-loyalty-down,
.ms.ms-loyalty-zero {
    font-size: calc(2*var(--cost-symbol-size-text));
}

p.rules-text>i.ms.ms-loyalty-up:first-child,
p.rules-text>i.ms.ms-loyalty-down:first-child,
p.rules-text>i.ms.ms-loyalty-zero:first-child {
    font-size: calc(2.5*var(--cost-symbol-size-text));
}

.ms-loyalty-down.ms-loyalty-1::after {
    content: "−1";
}

.ms-loyalty-down.ms-loyalty-2::after {
    content: "−2";
}

.ms-loyalty-down.ms-loyalty-3::after {
    content: "−3";
}

.ms-loyalty-down.ms-loyalty-4::after {
    content: "−4";
}

.ms-loyalty-down.ms-loyalty-5::after {
    content: "−5";
}

.ms-loyalty-down.ms-loyalty-6::after {
    content: "−6";
}

.ms-loyalty-down.ms-loyalty-7::after {
    content: "−7";
}

.ms-loyalty-down.ms-loyalty-8::after {
    content: "−8";
}

.ms-loyalty-down.ms-loyalty-9::after {
    content: "−9";
}

.ms-loyalty-down.ms-loyalty-10::after {
    content: "−10";
}

.ms-loyalty-down.ms-loyalty-11::after {
    content: "−11";
}

.ms-loyalty-down.ms-loyalty-12::after {
    content: "−12";
}

.ms-loyalty-down.ms-loyalty-13::after {
    content: "−31";
}

.ms-loyalty-down.ms-loyalty-14::after {
    content: "−14";
}

.ms-loyalty-down.ms-loyalty-15::after {
    content: "−15";
}

.ms-loyalty-down.ms-loyalty-16::after {
    content: "−16";
}

.ms-loyalty-down.ms-loyalty-17::after {
    content: "−17";
}

.ms-loyalty-down.ms-loyalty-18::after {
    content: "−18";
}

.ms-loyalty-down.ms-loyalty-19::after {
    content: "−19";
}

.ms-loyalty-down.ms-loyalty-20::after {
    content: "−20";
}

.ms-loyalty-down.ms-loyalty-25::after {
    content: "−25";
}

.ms-loyalty-down.ms-loyalty-X::after {
    content: "−X";
}

.ms-saga {
    font-size: calc(2*var(--cost-symbol-size-text));
}

.ms-saga::after {
    margin-top: -0.15em;
}