:root {
    --title-font-family: Amarante;
    --title-font-size: 9.5pt;
    --title-font-adjustment: 0.3mm;

    --typeline-font-family: Amarante;
    --typeline-font-size: 8pt;
    --typeline-font-adjustment: 0mm;

    --rules-font-family: Crimson Text;
    --rules-font-size: 8pt;
    --rules-font-size-small: 7pt;
    --rules-font-size-large: 9pt;

    --flavor-font-family: Crimson Text;
    --flavor-font-size: 8pt;
    --flavor-font-size-small: 7pt;
    --flavor-font-size-large: 9pt;

    --corner-bubble-font-family: Crimson Text;
    --corner-bubble-font-size: 11pt;
    --corner-bubble-font-adjustment: 0mm;

    --flip-indicator-font-family: Amarante;
    --flip-indicator-font-size: 6pt;
    --flip-indicator-font-adjustment: -0.1mm;

    --art-credit-font: Crimson Text;
    --art-credit-font-size: 6pt;

    --proxy-mark-font: Inconsolata;
    --proxy-mark-font-size: 1.5mm;
    --proxy-mark-nudge: 0.2mm;

    --mana-symbol-size: 0.7em;
    --mana-cost-adjustment: -0.5mm;
}

i.ms {
    font-size: var(--mana-symbol-size);
}

i.ms-2x {
    font-size: calc(2*var(--mana-symbol-size));
}

i.ms-3x {
    font-size: calc(3*var(--mana-symbol-size));
}

i.ms-4x {
    font-size: calc(4*var(--mana-symbol-size));
}

i.ms-5x {
    font-size: calc(5*var(--mana-symbol-size));
}

i.ms-6x {
    font-size: calc(6*var(--mana-symbol-size));
}