:root {

    --white-color-1: lightyellow;
    --white-color-2: wheat;

    --blue-color-1: skyblue;
    --blue-color-2: steelblue;

    --black-color-1: #3d3d6d;
    --black-color-2: #3d0000;

    --red-color-1: lightcoral;
    --red-color-2: darkred;

    --green-color-1: olivedrab;
    --green-color-2: darkolivegreen;

    --colorless-1: gainsboro;
    --colorless-2: silver;

    --gold-1: goldenrod;
    --gold-2: darkgoldenrod;
}

.ms.ms-ci.ms-ci-0 {
    background-color: #9c9a98;
}

.ms.ms-ci.ms-ci-0::before {
    content: ""
}