:root {

    --white-color-1: white;
    --white-color-2: white;

    --blue-color-1: white;
    --blue-color-2: white;

    --black-color-1: white;
    --black-color-2: white;

    --red-color-1: white;
    --red-color-2: white;

    --green-color-1: white;
    --green-color-2: white;

    --colorless-1: white;
    --colorless-2: white;

    --gold-1: white;
    --gold-2: white;
}