:root {

    --white-color-1: white;
    --white-color-2: white;

    --blue-color-1: white;
    --blue-color-2: white;

    --black-color-1: white;
    --black-color-2: white;

    --red-color-1: white;
    --red-color-2: white;

    --green-color-1: white;
    --green-color-2: white;

    --colorless-1: white;
    --colorless-2: white;

    --gold-1: white;
    --gold-2: white;
}

.ms-cost,
.ms-cost.ms-w,
.ms-cost.ms-u,
.ms-cost.ms-b,
.ms-cost.ms-r,
.ms-cost.ms-g {
    background-color: white;
}

.ms-cost.ms-wp::before,
.ms-cost.ms-up::before,
.ms-cost.ms-rp::before,
.ms-cost.ms-bp::before,
.ms-cost.ms-gp::before {
    top: -0.38em;
    left: 0.28em;
    content: "\e618";
    font-size: 0.55em !important;
    position: absolute;
}

.ms-cost.ms-wp::after,
.ms-cost.ms-up::after,
.ms-cost.ms-rp::after,
.ms-cost.ms-bp::after,
.ms-cost.ms-gp::after {
    top: 0.5em;
    left: 1em;
    font-size: 0.55em !important;
    position: absolute;
}

.ms-cost.ms-wp::after {
    content: "\e600";
}

.ms-cost.ms-up::after {
    content: "\e601";
}

.ms-cost.ms-bp::after {
    content: "\e602";
}

.ms-cost.ms-rp::after {
    content: "\e603";
}

.ms-cost.ms-gp::after {
    content: "\e604";
}

.ms-cost.ms-wu,
.ms-cost.ms-ub,
.ms-cost.ms-br,
.ms-cost.ms-rg,
.ms-cost.ms-gw,
.ms-cost.ms-wb,
.ms-cost.ms-bg,
.ms-cost.ms-gu,
.ms-cost.ms-ur,
.ms-cost.ms-rw,
.ms-cost.ms-2w,
.ms-cost.ms-2u,
.ms-cost.ms-2r,
.ms-cost.ms-2b,
.ms-cost.ms-2g,
.ms-cost.ms-wp,
.ms-cost.ms-up,
.ms-cost.ms-rp,
.ms-cost.ms-bp,
.ms-cost.ms-gp {
    background: linear-gradient(135deg, white 0%, white 49%, black 49%, black 52%, white 52%, white 100%);
}

.ms-cost.ms-shadow {
    border: 0.08em solid #111 !important;
    box-shadow: none !important;
}

img.art {
    filter: grayscale(100%) opacity(50%);
}

.ms.ms-ci.ms-ci-1::before,
.ms.ms-ci.ms-ci-2::before,
.ms.ms-ci.ms-ci-3::before,
.ms.ms-ci.ms-ci-4::before,
.ms.ms-ci.ms-ci-5::before {
    content: "";
}

.ms.ms-ci {
    background-color: none;
}

/* mono color */

.ms.ms-ci.ms-ci-0::before {
    content: "\e904";
}

.ms.ms-ci.ms-ci-1.ms-ci-w::before {
    content: "\e600";
}

.ms.ms-ci.ms-ci-1.ms-ci-u::before {
    content: "\e601";
}

.ms.ms-ci.ms-ci-1.ms-ci-b::before {
    content: "\e602";
}

.ms.ms-ci.ms-ci-1.ms-ci-r::before {
    content: "\e603";
}

.ms.ms-ci.ms-ci-1.ms-ci-g::before {
    content: "\e604";
}

/* Two colors */

.ms.ms-ci.ms-ci-2.ms-ci-wu::before {
    content: "\e600\e601";
}

.ms.ms-ci.ms-ci-2.ms-ci-ub::before {
    content: "\e601\e602";
}

.ms.ms-ci.ms-ci-2.ms-ci-br::before {
    content: "\e602\e603";
}

.ms.ms-ci.ms-ci-2.ms-ci-rg::before {
    content: "\e603\e604";
}

.ms.ms-ci.ms-ci-2.ms-ci-gw::before {
    content: "\e604\e600";
}

.ms.ms-ci.ms-ci-2.ms-ci-wb::before {
    content: "\e600\e602";
}

.ms.ms-ci.ms-ci-2.ms-ci-ur::before {
    content: "\e601\e603";
}

.ms.ms-ci.ms-ci-2.ms-ci-bg::before {
    content: "\e602\e604";
}

.ms.ms-ci.ms-ci-2.ms-ci-rw::before {
    content: "\e603\e600";
}

.ms.ms-ci.ms-ci-2.ms-ci-gu::before {
    content: "\e604\e601";
}

/* tricolor */

.ms.ms-ci.ms-ci-3.ms-ci-wub::before {
    content: "\e600\e601\e602";
}

.ms.ms-ci.ms-ci-3.ms-ci-ubr::before {
    content: "\e601\e602\e603";
}

.ms.ms-ci.ms-ci-3.ms-ci-brg::before {
    content: "\e602\e603\e604";
}

.ms.ms-ci.ms-ci-3.ms-ci-rgw::before {
    content: "\e603\e604\e600";
}

.ms.ms-ci.ms-ci-3.ms-ci-gwu::before {
    content: "\e604\e600\e601";
}

.ms.ms-ci.ms-ci-3.ms-ci-wbr::before {
    content: "\e600\e602\e603";
}

.ms.ms-ci.ms-ci-3.ms-ci-urg::before {
    content: "\e601\e603\e604";
}

.ms.ms-ci.ms-ci-3.ms-ci-bgw::before {
    content: "\e602\e604\e600";
}

.ms.ms-ci.ms-ci-3.ms-ci-rwu::before {
    content: "\e603\e600\e601";
}

.ms.ms-ci.ms-ci-3.ms-ci-gub::before {
    content: "\e604\e601\e602";
}

/* quad color */

.ms.ms-ci.ms-ci-4.ms-ci-wubr::before {
    content: "\e600\e601\e602\e603";
}

.ms.ms-ci.ms-ci-4.ms-ci-ubrg::before {
    content: "\e601\e602\e603\e604";
}

.ms.ms-ci.ms-ci-4.ms-ci-brgw::before {
    content: "\e602\e603\e604\e600";
}

.ms.ms-ci.ms-ci-4.ms-ci-rgwu::before {
    content: "\e603\e604\e600\e601";
}

.ms.ms-ci.ms-ci-4.ms-ci-gwur::before {
    content: "\e604\e600\e601\e602";
}

.ms.ms-ci-ms-ci-5::before {
    content: "\e600\e601\e602\e603\e604";
}