:root {

    --white-color-1: white;
    --white-color-2: white;

    --blue-color-1: white;
    --blue-color-2: white;

    --black-color-1: white;
    --black-color-2: white;

    --red-color-1: white;
    --red-color-2: white;

    --green-color-1: white;
    --green-color-2: white;

    --colorless-1: white;
    --colorless-2: white;

    --gold-1: white;
    --gold-2: white;
}

.ms-cost,
.ms-cost.ms-w,
.ms-cost.ms-wp,
.ms-cost.ms-u,
.ms-cost.ms-up,
.ms-cost.ms-b,
.ms-cost.ms-bp,
.ms-cost.ms-r,
.ms-cost.ms-rp,
.ms-cost.ms-g,
.ms-cost.ms-gp {
    background-color: white;
}

.ms-cost.ms-shadow {
    border: 0.08em solid #111 !important;
    box-shadow: none !important;
}