div.card.normal img.art {
    border-top-width: 0;
    border-bottom-width: 0;
    display: block;
    width: 56mm;
    height: 40mm;
    margin-left: auto;
    margin-right: auto;
}

div.card.normal div.art-placeholder {
    border-top-width: 0;
    border-bottom-width: 0;
    display: block;
    width: 56mm;
    height: 40mm;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(45deg, white 0%, lightgrey 50%, white 100%);
}

div.card.normal div.text-box {
    margin: 0 auto;
    border-top-width: 0;
    width: 56mm;
    height: 29mm;
    padding: 0.5mm 1mm;
}

div.card.normal div.text-box.dense p.rules-text {
    margin-top: 0mm;
    margin-bottom: 0.5mm;
}

div.card.normal div.corner-bubble {
    right: 0.5mm;
    bottom: 1mm;
    border-radius: 1.5mm;
    color: white;
    background-color: darkgray;
    text-shadow: 1pt 1pt black;
}

div.card.normal .flipside {
    bottom: 2.3mm;
}