@page {
    size: A4 portrait;
    padding: 11mm 9mm;
}

body {
    padding: 0;
    margin: 0;
}

page {
    page-break-after: always;
}

.card-row {
    margin-left: 8mm;
    display: flex;
    flex-direction: row;
}

.card-row:first-child {
    margin-top: 11mm;
}