:root {
    --title-font-family: Amarante;
    --title-font-size: 9.5pt;
    --title-font-adjustment: 0.3mm;

    --typeline-font-family: Amarante;
    --typeline-font-size: 8pt;
    --typeline-font-adjustment: 0mm;

    --rules-font-family: Noto Sans;
    --rules-font-size: 7pt;
    --rules-font-size-small: 6pt;
    --rules-font-size-large: 8pt;

    --flavor-font-family: Noto Sans;
    --flavor-font-size: 7.5pt;
    --flavor-font-size-small: 6pt;
    --flavor-font-size-large: 8pt;

    --corner-bubble-font-family: Serif;
    --corner-bubble-font-size: 11pt;
    --corner-bubble-font-adjustment: -0.5mm;

    --flip-indicator-font-family: Amarante;
    --flip-indicator-font-size: 6pt;
    --flip-indicator-font-adjustment: 0.3mm;
    --flip-indicator-height: 3mm;

    --card-width: 63.5mm;
    --card-height: 88mm;
    --card-border: 2mm;

    --card-corner-radius: 3mm;
    --pin-line-width: 0.35mm;
    --upper-margin: 1mm;

    --fullwidth-box: 56mm;
    --fullheight-box: 69mm;

    --art-height: 40mm;

    --bar-height: 5mm;
    --bar-endcap: 1mm;

    --proxy-mark-font-size: 1.2mm;
    --proxy-mark-nudge: 0.2mm;
}

:root {
    --content-width: calc(var(--card-width) - 2*var(--card-border));

    --content-height: calc(var(--card-height) - 2*var(--card-border));

    --text-box-height: calc(var(--fullheight-box) - var(--art-height));

    --fullwidth-margin: calc((var(--content-width) - var(--fullwidth-box))/2);

    --halfwidth-box: calc(var(--fullwidth-box)/2);

    --bar-width: calc(var(--fullwidth-box) + 2*var(--bar-endcap));

    --bar-margin: calc((var(--content-width) - var(--bar-width))/2);
}

/* CARD */

div.card {
    position: relative;
    box-sizing: border-box;
    margin: var(--card-border);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-corner-radius);
    border-width: var(--card-border);
    border-style: solid;
    border-color: black;
}

div.card>* {
    position: absolute;
    box-sizing: border-box;
    border-width: var(--pin-line-width);
    border-style: solid;
    border-color: black;
    background-color: white;
}

/* BORDER TEXT */

div.card::before,
div.card::after {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: var(--proxy-mark-font-size);
    color: white;
    height: var(--card-border);
    width: 100%;
    text-align: center;
}

div.card::after {
    bottom: calc(-1*var(--card-corner-radius) + var(--card-border)/2 - var(--proxy-mark-nudge));
    content: "PROXY";
}

div.card::before {
    top: calc(-1*var(--card-corner-radius) + var(--card-border)/2 + var(--proxy-mark-nudge));
}

/* COLOR INDICATOR - COLORLESS AND MONO */

div.card::before {
    content: "Ø"
}

div.card.white::before {
    content: "W";
}

div.card.blue::before {
    content: "U";
}

div.card.black::before {
    content: "B";
}

div.card.red::before {
    content: "R";
}

div.card.green::before {
    content: "G";
}

/* COLOR INDICATOR - ALLIED GUILDS */

div.card.white.blue::before {
    content: "WU";
}

div.card.blue.black::before {
    content: "UB";
}

div.card.black.red::before {
    content: "BR";
}

div.card.red.green::before {
    content: "RG";
}

div.card.green.white::before {
    content: "WG";
}

/* COLOR INDICATOR - OPPOSING GUILDS */

div.card.white.black::before {
    content: "WB";
}

div.card.blue.red::before {
    content: "UR";
}

div.card.black.green::before {
    content: "BG";
}

div.card.red.white::before {
    content: "WR";
}

div.card.green.blue::before {
    content: "UG";
}

/* COLOR INDICATOR - SHARDS */

div.card.white.blue.black::before {
    content: "WUB";
}

div.card.blue.black.red::before {
    content: "UBR";
}

div.card.black.red.green::before {
    content: "BRG";
}

div.card.red.green.white::before {
    content: "WRG";
}

div.card.green.white.blue::before {
    content: "WUG";
}

/* COLOR INDICATOR - CLANS */

div.card.white.blue.red::before {
    content: "WUR";
}

div.card.blue.black.green::before {
    content: "UBG";
}

div.card.black.red.white::before {
    content: "WBR";
}

div.card.red.green.blue::before {
    content: "URG";
}

div.card.green.white.black::before {
    content: "WBG";
}

/* COLOR INDICATOR - SANS AND WUBRG */

div.card.white.blue.black.red::before {
    content: "WUBR";
}

div.card.blue.black.red.green::before {
    content: "UBRG";
}

div.card.black.red.green.white::before {
    content: "WBRG";
}

div.card.red.green.white.blue::before {
    content: "WURG";
}

div.card.green.white.blue.black::before {
    content: "WUBG";
}

div.card.white.blue.black.red.green::before {
    content: "WUBRG";
}

/* CARD PARTS */

div.bar {
    left: var(--bar-margin);
    width: var(--bar-width);
    height: var(--bar-height);
    padding: 0 calc(1.5*var(--bar-endcap));
    display: flex;
    flex-direction: row;
    border-top-left-radius: var(--bar-endcap) 50%;
    border-bottom-left-radius: var(--bar-endcap) 50%;
    border-top-right-radius: var(--bar-endcap) 50%;
    border-bottom-right-radius: var(--bar-endcap) 50%;
}

div.bar>span,
div.bar::before,
div.bar::after {
    align-self: center;
    font-weight: bold;
    margin-top: var(--title-font-adjustment);
}

div.title.bar {
    top: var(--upper-margin);
    justify-content: space-between;
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
}

div.title.bar.obverse {
    padding-left: var(--bar-height);
}

div.title.bar.obverse::before {
    position: absolute;
    font-size: 85%;
    content: "▲";
    left: 1mm;
}

div.title.bar.reverse {
    padding-right: var(--bar-height);
}

div.title.bar.reverse::after {
    position: absolute;
    font-size: 85%;
    content: "▼";
    right: 1mm;
}

div.type-line.bar {
    justify-content: start;
    top: calc(var(--upper-margin) + var(--bar-height) + var(--art-height));
}

div.type-line.bar.bottom {
    top: calc(var(--upper-margin) + var(--bar-height) + var(--fullheight-box));
}

div.type-line.bar>span.type {
    font-family: var(--typeline-font-family);
    font-size: var(--typeline-font-size);
    margin-top: var(--typeline-font-adjustment);
}

/* ART */

div.art,
img.art {
    border-width: 0 var(--pin-line-width);
    left: var(--fullwidth-margin);
    top: calc(var(--bar-height) + var(--upper-margin));
    width: var(--fullwidth-box);
    height: var(--art-height);
}

div.art {
    background-image: url("./Lenna.png");
    background-position: center;
    background-size: cover;
}

/* TEXT BOXES AND ART */

div.text-box {
    width: var(--fullwidth-box);
    height: var(--text-box-height);
    left: var(--fullwidth-margin);
    top: calc(var(--upper-margin) + 2*var(--bar-height) + var(--art-height));
    border-width: 0 var(--pin-line-width) var(--pin-line-width);
}

div.art.vertical,
img.art.vertical,
div.text-box.vertical {
    top: calc(var(--bar-height) + var(--upper-margin));
    border-width: 0 var(--pin-line-width);
    height: var(--fullheight-box);
    width: var(--halfwidth-box);
}

div.art.vertical.left,
img.art.vertical.left,
div.text-box.vertical.left {
    border-right-width: 0;
    left: var(--fullwidth-margin);
    right: auto;
}

div.art.vertical.right,
img.art.vertical.right {
    border-left-width: 0;
}

div.art.vertical.right,
img.art.vertical.right,
div.text-box.vertical.right {
    left: calc(var(--fullwidth-margin) + var(--halfwidth-box));
}

div.art.vertical.right,
img.art.vertical.right {
    border-right-width: 0;
}

/* TEXT CONTENT */

div.text-box>hr {
    width: 90%;
    margin: 0mm auto;
}

div.text-box {
    padding: 1mm 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.text-box>p {
    margin: 2mm 3mm 0mm;
}

div.text-box.dense>p {
    margin: 1mm;
}

div.text-box.sparse>p {
    text-align: center;
    justify-content: center;
}

div.text-box.dense {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

p.rules-text {
    font-family: var(--rules-font-family);
    font-size: var(--rules-font-size);
}

div.text-box.dense>p.rules-text {
    font-size: var(--rules-font-size-small);
}

div.text-box.sparse>p.rules-text {
    font-size: var(--rules-font-size-large);
}

p.flavor-text {
    font-style: italic;
    font-family: var(--flavor-font-family);
    font-size: var(--flavor-font-size);
}

div.text-box.dense>p.flavor-text {
    font-size: var(--flavor-font-size-small);
}

div.text-box.dense>p.flavor-text {
    font-size: var(--flavor-font-size-large);
}

span.reminder {
    font-style: italic;
}

div.corner-bubble.bar {
    right: var(--bar-margin);
    left: auto;
    top: calc(var(--upper-margin) + 2*var(--bar-height) + var(--fullheight-box) - var(--pin-line-width) - var(--bar-height)/2);
    padding: 0 calc(1.5*var(--bar-endcap));
    width: auto;
    color: white;
    font-weight: bold;
    font-size: var(--corner-bubble-font-size);
    font-family: var(--corner-bubble-font-family);
    text-shadow: 1pt 1pt black;
    background-color: darkgray;
}

div.corner-bubble.bar.shield {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(var(--bar-height)/2);
    border-bottom-right-radius: calc(var(--bar-height)/2);
    border-color: white;
    text-shadow: none;
    background-color: black;
}

div.corner-bubble.bar>span {
    margin-top: var(--corner-bubble-font-adjustment);
}

div.flip-indicator.bar {
    left: 0;
    font-size: var(--flip-indicator-font-size);
    font-family: var(--flip-indicator-font-family);
    height: var(--flip-indicator-height);
    top: calc(var(--upper-margin) + var(--bar-height)*2 + var(--fullheight-box) - var(--pin-line-width) - var(--flip-indicator-height)/2);
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: auto;
    padding-left: 3mm;
}

div.vertical~div.flip-indicator.bar {
    top: calc(var(--upper-margin) + var(--bar-height) + var(--fullheight-box) - var(--pin-line-width) - var(--flip-indicator-height))
}

div.flip-indicator.bar>span {
    margin-top: var(--flip-indicator-font-adjustment);
}

div.flip-indicator.bar.obverse,
div.flip-indicator.bar.reverse {
    padding-left: var(--flip-indicator-height)
}

div.flip-indicator.bar.obverse::before {
    position: absolute;
    font-size: 85%;
    content: "▼";
    left: 0.5mm;
}

div.flip-indicator.bar.reverse::before {
    position: absolute;
    font-size: 85%;
    content: "▲";
    left: 0.5mm;
}

span.art-credits {
    bottom: calc(var(--upper-margin)/2);
    width: 100%;
    text-align: center;
    font-size: 5pt;
    font-weight: bold;
    font-family: Maxtrix;
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
    border-style: none;
}

span.art-credits::before {
    content: "artist: "
}

/* COLORS */

:root {

    --white-color-1: lightyellow;
    --white-color-2: khaki;

    --blue-color-1: aqua;
    --blue-color-2: darkblue;

    --black-color-1: indigo;
    --black-color-2: darkslategrey;

    --red-color-1: red;
    --red-color-2: darkred;

    --green-color-1: lightgreen;
    --green-color-2: green;

    --colorless-1: silver;
    --colorless-2: slategrey;
}

div.card {
    background: linear-gradient(to top, var(--colorless-2), var(--colorless-1));
}

div.card.red {
    background: linear-gradient(to top, var(--red-color-2), var(--red-color-1));
}

div.card.blue {
    background: linear-gradient(to top, var(--blue-color-2), var(--blue-color-1));
}

div.card.green {
    background: linear-gradient(to top, var(--green-color-2), var(--green-color-1));
}

div.card.black {
    background: linear-gradient(to top, var(--black-color-2), var(--black-color-1));
}

div.card.white {
    background: linear-gradient(to top, var(--white-color-2), var(--white-color-1));
}

div.card.white.blue {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--blue-color-2), transparent 75% 75%);
}

div.card.white.black {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--black-color-2), transparent 75% 75%);
}

div.card.white.red {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.white.green {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.blue.black {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--black-color-2), transparent 75% 75%);
}

div.card.blue.red {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.blue.green {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}


div.card.blue.red {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.black.red {
    background:
        radial-gradient(ellipse at top left, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--black-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.black.green {
    background:
        radial-gradient(ellipse at top left, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--black-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.red.green {
    background:
        radial-gradient(ellipse at top left, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--red-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.white.blue.black,
div.card.white.blue.red,
div.card.white.blue.green,
div.card.white.black.red,
div.card.white.black.green,
div.card.white.red.green,
div.card.blue.black.red,
div.card.blue.black.green,
div.card.blue.red.green,
div.card.black.red.green,
div.card.white.blue.red.green,
div.card.white.black.red.green,
div.card.white.blue.black.green,
div.card.white.blue.black.red,
div.card.white.blue.black.red.green {
    background:
        linear-gradient(-30deg, transparent 40%, white 50%, transparent 60%),
        radial-gradient(ellipse at top left, gold, transparent 75% 75%),
        radial-gradient(ellipse at top right, peachpuff, transparent 75% 75%),
        radial-gradient(ellipse at bottom left, cornsilk, transparent 75% 75%),
        radial-gradient(ellipse at bottom right, goldenrod, transparent 75% 75%);

}

div.card>span.art-credits {
    color: white;
    text-shadow: 0 0 1pt black, 0 0 1pt black, 0 0 1pt black, 0 0 1pt black;
}

/* PAGE */

@page {
    size: A4 portrait;
    padding: 11mm 9mm;
}

body {
    padding: 0;
    margin: 0;
}

page {
    page-break-after: always;
}

div.card-row {
    margin-left: 4mm;
    display: flex;
    flex-direction: row;
}

page>div.card-row:first-child {
    padding-top: 11mm;
}