:root {

    --white-color-1: lightyellow;
    --white-color-2: khaki;

    --blue-color-1: aqua;
    --blue-color-2: darkblue;

    --black-color-1: indigo;
    --black-color-2: darkslategrey;

    --red-color-1: red;
    --red-color-2: darkred;

    --green-color-1: lightgreen;
    --green-color-2: green;

    --colorless-1: silver;
    --colorless-2: slategrey;
}

div.card {
    background: linear-gradient(to top, lightgray, white, white);
}

div.card.red {
    background: linear-gradient(to top, var(--red-color-2), var(--red-color-1));
}

div.card.blue {
    background: linear-gradient(to top, var(--blue-color-2), var(--blue-color-1));
}

div.card.green {
    background: linear-gradient(to top, var(--green-color-2), var(--green-color-1));
}

div.card.black {
    background: linear-gradient(to top, var(--black-color-2), var(--black-color-1));
}

div.card.white {
    background: linear-gradient(to top, var(--white-color-2), var(--white-color-1));
}


div.card.colorless {
    background: linear-gradient(to top, var(--colorless-2), var(--colorless-1))
}

div.card.white.blue {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--blue-color-2), transparent 75% 75%);
}

div.card.white.black {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--black-color-2), transparent 75% 75%);
}

div.card.white.red {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.white.green {
    background:
        radial-gradient(ellipse at top left, var(--white-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--white-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.blue.black {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--black-color-2), transparent 75% 75%);
}

div.card.blue.red {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.blue.green {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}


div.card.blue.red {
    background:
        radial-gradient(ellipse at top left, var(--blue-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--blue-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.black.red {
    background:
        radial-gradient(ellipse at top left, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--black-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--red-color-2), transparent 75% 75%);
}

div.card.black.green {
    background:
        radial-gradient(ellipse at top left, var(--black-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--black-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.red.green {
    background:
        radial-gradient(ellipse at top left, var(--red-color-1), transparent 75% 75%),
        radial-gradient(ellipse at top right, var(--green-color-1), transparent 75% 75%),
        radial-gradient(ellipse at bottom left, var(--red-color-2), transparent 75% 75%),
        radial-gradient(ellipse at bottom right, var(--green-color-2), transparent 75% 75%);
}

div.card.gold {
    background:
        radial-gradient(ellipse at top left, gold, transparent 75% 75%),
        radial-gradient(ellipse at top right, peachpuff, transparent 75% 75%),
        radial-gradient(ellipse at bottom left, cornsilk, transparent 75% 75%),
        radial-gradient(ellipse at bottom right, goldenrod, transparent 75% 75%);
}