@import url("./settings.css");

:root {

    --title-font-family: Beleren2016;
    --title-font-size: 9.5pt;
    --typeline-font-family: Beleren2016;
    --typeline-font-size: 8pt;
    --rules-font-family: Georgia;
    --rules-font-size: 7.5pt;
    --flavor-font-family: Georgia;
    --flavor-font-size: 7.5pt;

    --card-width: 63.5mm;
    --card-height: 88mm;
    --card-border: 2mm;

    --card-corner-radius: 3mm;
    --pin-line-width: 0.25mm;
    --upper-margin: 1mm;

    --fullwidth-box: 56mm;
    --fullheight-box: 69mm;

    --art-height: 40mm;

    --bar-height: 5mm;
    --bar-endcap: 1mm;

    --title-font-adjustment: 0.5mm;
    --typeline-font-adjustment: 0.5mm;

    --proxy-mark-font-size: 1mm;
    --proxy-mark-nudge: 0.2mm;
}

:root {
    --content-width: calc(var(--card-width) - 2*var(--card-border));

    --content-height: calc(var(--card-height) - 2*var(--card-border));

    --text-box-height: calc(var(--fullheight-box) - var(--art-height));

    --fullwidth-margin: calc((var(--content-width) - var(--fullwidth-box))/2);

    --halfwidth-box: calc(var(--fullwidth-box)/2);

    --bar-width: calc(var(--fullwidth-box) + 2*var(--bar-endcap));

    --bar-margin: calc((var(--content-width) - var(--bar-width))/2);
}

@import url("./card-colors.css");

div.card {
    position: relative;
    box-sizing: border-box;
    margin: var(--card-border);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-corner-radius);
    border-width: var(--card-border);
    border-style: solid;
    border-color: black;
}

div.card>* {
    position: absolute;
    box-sizing: border-box;
    border-width: var(--pin-line-width);
    border-style: solid;
    border-color: black;
    background-color: white;
}

div.card::before,
div.card::after {
    position: absolute;
    content: "PROXY — NOT FOR SALE OR RESALE";
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 5pt;
    color: white;
    height: var(--card-border);
    width: 100%;
    text-align: center;
}

div.card::before {
    top: calc(-1*var(--card-corner-radius) + var(--card-border)/2 + 0.1mm);
}

div.card::after {
    bottom: calc(-1*var(--card-corner-radius) + var(--card-border)/2);
}

div.bar {
    left: var(--bar-margin);
    width: var(--bar-width);
    height: var(--bar-height);
    padding: 0 calc(1.5*var(--bar-endcap));
    display: flex;
    flex-direction: row;
    border-top-left-radius: var(--bar-endcap) 50%;
    border-bottom-left-radius: var(--bar-endcap) 50%;
    border-top-right-radius: var(--bar-endcap) 50%;
    border-bottom-right-radius: var(--bar-endcap) 50%;
}

div.bar>span {
    align-self: center;
    font-weight: bold;
}

div.title.bar {
    top: var(--upper-margin);
    justify-content: space-between;
}

div.title.bar>span.name {
    font-family: var(--title-font-family);
    font-size: var(--title-font-size);
    margin-top: var(--title-font-adjustment);
}

div.type-line.bar {
    justify-content: first;
    top: calc(var(--upper-margin) + var(--bar-height) + var(--art-height));
}

div.type-line.bar.bottom {
    top: calc(var(--upper-margin) + var(--bar-height) + var(--fullheight-box));
}

div.type-line.bar>span.type {
    font-family: var(--typeline-font-family);
    font-size: var(--typeline-font-size);
    margin-top: var(--typeline-font-adjustment);
}

div.art,
img.art {
    border-width: 0 var(--pin-line-width);
    left: var(--fullwidth-margin);
    top: calc(var(--bar-height) + var(--upper-margin));
    width: var(--fullwidth-box);
    height: var(--art-height);
}

div.art {
    background-image: url("./Lenna.png");
    background-position: center;
    background-size: cover;
}

div.text-box {
    width: var(--fullwidth-box);
    height: var(--text-box-height);
    left: var(--fullwidth-margin);
    top: calc(var(--upper-margin) + 2*var(--bar-height) + var(--art-height));
    border-width: 0 var(--pin-line-width) var(--pin-line-width);
}

div.art.vertical,
img.art.vertical,
div.text-box.vertical {
    top: calc(var(--bar-height) + var(--upper-margin));
    border-width: 0 var(--pin-line-width);
    height: var(--fullheight-box);
    width: var(--halfwidth-box);
}

div.art.vertical.left,
img.art.vertical.left,
div.text-box.vertical.left {
    border-right-width: 0;
    left: var(--fullwidth-margin);
    right: auto;
}

div.art.vertical.right,
img.art.vertical.right {
    border-left-width: 0;
}

div.art.vertical.right,
img.art.vertical.right,
div.text-box.vertical.right {
    left: calc(var(--fullwidth-margin) + var(--halfwidth-box));
}

div.art.vertical.right,
img.art.vertical.right {
    border-right-width: 0;
}

div.text-box hr {
    width: 90%;
}

div.text-box>p {
    margin: 1mm 1mm 0 1mm;
}

div.text-box.sparse {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.text-box.sparse>p {
    margin: 0 1mm;
}

p.rules-text {
    font-family: var(--rules-font-family);
    font-size: var(--rules-font-size);
}

p.flavor-text {
    font-style: italic;
    font-family: var(--flavor-font-family);
    font-size: var(--flavor-font-size);
}

span.reminder {
    font-style: italic;
}

div.bar.corner-bubble {
    right: var(--bar-margin);
    left: auto;
    top: calc(var(--upper-margin) + var(--bar-height)*1.5 + var(--fullheight-box) - var(--pin-line-width));
    padding: 0 calc(1.5*var(--bar-endcap));
    width: min-content;
    color: white;
    font-weight: bold;
    text-shadow: 1pt 1pt black;
    background-color: darkgray;
}

div.corner-bubble.shield {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(var(--bar-height)/2);
    border-bottom-right-radius: calc(var(--bar-height)/2);
    border-color: white;
    text-shadow: none;
    background-color: black;
}

span.art-credits {
    bottom: 0.1mm;
    left: calc(var(--fullwidth-margin) + 1mm);
    font-size: 5pt;
    font-weight: bold;
    font-family: Maxtrix;
    background-color: transparent;
    border-width: 0;
    border-color: transparent;
    border-style: none;
}

span.art-credits::before {
    content: "artist: "
}