.saga>.text-and-art {
    border-width: 0;
    width: 56mm;
    margin: 0 auto;
    border-width: 0;
    height: 69mm;
    position: relative;
}

.saga>.title-bar,
.saga>.type-bar {
    padding: 0.5mm 1.5mm;
}

.saga>.text-and-art>* {
    border-width: 0 0.25mm;
    border-style: solid;
    border-color: black;
}

.saga>.text-and-art>.text-box {
    border-right-width: 0;
    position: absolute;
    left: 0;
    width: 25mm;
    height: calc(100% - 2mm);
    padding: 1mm;
}

.saga>.text-and-art>img {
    display: inline-block;
    width: 29mm;
    position: absolute;
    right: 0;
    height: auto;
}

.saga>.text-and-art>.text-box>p {
    margin-top: 0;
    margin-bottom: 0;
}

.saga>.text-and-art>.text-box>hr {}

.saga>.text-and-art>.text-box>.step {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2.5mm;
    position: relative;
}

.saga>.text-and-art>.text-box>.step>.hex {
    font-size: 9pt;
    float: left;
    margin-left: -5mm;
    width: 1.2em;
    text-align: center;
    border-style: solid;
    border-width: 0.2mm;
    border-color: grey;
    background: linear-gradient(white 0%, lightgray 100%);
}